.article_wrapper{
  height:auto;
  .article_background{
    background-color:#fff;
    margin: auto;
    height: auto;
    overflow: auto;
    background: -moz-linear-gradient(right, green 0, green 60%, transparent 60%);
    background: -webkit-linear-gradient(right, #ffffc6 0, #ffffc6 60%, transparent 60%);
    background: linear-gradient(right, #ffffc6 0, #ffffc6 60%, transparent 60%);
  }
}
.article_title{
  a{
    color:$black;
    text-decoration: none;
    font-family: 'Zona  Black';
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.article_meta{

}
.posted-on{
  border-bottom: $brand-secondary 5px solid;
  text-transform: uppercase;
  a{
    color: $brand-secondary;
    font-style: italic;
    font-weight: 800;
  }
}
.author{
  a{
    color: $brand-secondary;
    font-weight: 800;
    text-transform: uppercase;
  }
}
.article_tag{
  position: absolute;
  z-index: 9999;
  top: -20px;
}
.article_tag > span{
  float:left;
}
.article_tag-block{
  width:50px;
  height:50px;
  background-color: $brand-primary;
  margin-right:2px;
  &:first-child{
    background-color: $brand-secondary;
  }
}

.article_tag-title{
  width:200px;
  height:50px;
  background-color: $yellow;
  margin-right:$baseMargin;
}
.article_media-image{
  img{
    border-top:5px solid $brand-secondary;
  }

}