.head_container{
  background-color: #181b1b;
  margin-bottom: $baseMargin * 10;
}
.headers{
  hr{
    border: $white 3px solid;
  }
  height:500px;
  position: relative;
  background-color: rgb(24, 27, 27);
  overflow: hidden;
  &__copy{
    margin-top:150px;

    h1{
      color:$lightgrey;
      font-weight: 100;
      letter-spacing: 5px;
      font-family: 'Zona  Black';
      text-transform: uppercase;
      margin: 40px 0px;
    }


  }

  img{
    object-fit: fill;
    max-height: 100%;

  }

  .top_title{

    z-index: 2;
    position: relative;
    color: #fff;
    h1{
      text-align: center;
    }

  }
  .category_title{
    margin: 0 auto;
    text-align: center;
    background-color:$brand-secondary;

    border: 1px solid transparent;
    padding:10px 40px;
    width:200px;
    font-family: 'Zona  Black';
    a{
      color:$white;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
.entry-content{
  p{
    letter-spacing: 3px;
    font-weight: 200;
  }

}