.headers{
  height:500px;
  position: relative;
  background: #222222;
  overflow: hidden;
  margin-bottom: $baseMargin * 10;
  &__copy{
    vertical-align: bottom;

    h1{
      color:$lightgrey;
      font-weight: 100;
      letter-spacing: 5px;
      font-family: 'Zona  Black';
      text-transform: uppercase;
    }


  }

  img{
    object-fit: fill;
    max-height: 100%;

  }

  .top_title{
    z-index: 2;
    position: relative;
    color: #fff;
    h1{
      text-align: center;
    }

  }
  .category_title{
    margin: 0 auto;
    text-align: center;
    background-color:$white;
    color:$black;
    border: 1px solid transparent;
    padding:10px 40px;
    width:200px;

    a{
      color: $black;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
.entry-content{
  p{
    letter-spacing: 3px;
    font-weight: 200;
  }

}