.head_container{
  margin-bottom: $baseMargin * 10;
}
.headers{
  hr{
    border: $black 3px solid;
    width:200px;
  }
  &__copy{
    h1{
      color:$black;
      font-weight: 100;
      letter-spacing: 5px;
      font-family: 'Zona  Black';
      text-transform: capitalize;
      margin: 40px 0px;
      font-size:8em;
    }
    h4{
      font-size:2em;
      letter-spacing: 2px;
    }


  }

  img{
    object-fit: fill;
    max-height: 100%;

  }
.entry-content{
  h2{
    font-family: 'Zona  Black';
  }
}
  .top_title{
    text-align: center;
    color: $black;


  }
  .category_title{
    margin: 0 auto;
    text-align: center;
    background-color:$brand-secondary;

    border: 1px solid transparent;
    padding:10px 40px;
    width:200px;
    font-family: 'Zona  Black';
    a{
      color:$white;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
.entry-content{
  p{
    letter-spacing: 3px;
    font-weight: 200;
  }

}
.post{
  .top_title{

  h1{
  color:$black;
  font-weight: 100;
  letter-spacing: 5px;
  font-family: 'Zona  Black';
  text-transform: capitalize;
  margin: 40px 0px;
  font-size:4em;
}
  }
  .category_title{
    text-align: center;
    background-color:$brand-secondary;

    border: 1px solid transparent;
    padding:10px 40px;
    width:200px;
    font-family: 'Zona  Black';
    a{
      color:$white;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}