.site-footer{
  background-color: $black;
  color: $brand-secondary;

  p{
    font-weight: 100;
  }
  color:$white;
  padding-top:$basePadding * 5;
  padding-bottom:$basePadding * 5;
  ul{
    list-style: none;
    margin-left:0px;
    padding-left:0px;
    li{
      a{
        color: $white;
      }

    }
  }
}
