.site-header{
  background-color: $white;
  margin-bottom: $baseMargin * 10;
}
.nav-top{
padding-top:$basePadding * 2;
padding-bottom:$basePadding * 2;
}
.nav_wrapper{
  margin-top: $basePadding * 4;
}
.logo_wrapper{

  width:300px;

  .logo_background{

    width:200px;
    height:200px;
    border-radius: 50%;


    background: $black; /* fallback for old browsers */

  }
  .logo_image{
    display: flex;
    width:170px;
    height:200px;
    margin: 0 auto;
    img{
      width:100%;
      margin: auto auto;
      display: block;
    }
  }
}
.menu li{
  width: 230px;
  float: left;
  border-left: 2px solid $black;
  padding-left: $basePadding * 2;
  text-decoration: none;

  a{
    color:$black;
    font-family: 'Zona  Black';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}